app = 'visapro-rails-app'
primary_region = 'iad'
console_command = '/rails/bin/rails console'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "get"
  path = "/up"
  timeout = "5s"
  headers = { Content-Type = "application/json" }

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1