<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Application Submitted Successfully</h1>
    <p>
      Hello <%= @user.name %>,
    </p>
    <p>
      Your visa application for <%= @application.country %> has been submitted successfully.
    </p>
    <p>
      We'll notify you when there are updates to your application.
    </p>
  </body>
</html>
