<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to VisaPro, <%= @user.name %>!</h1>
    <p>
      Your account has been successfully created.
    </p>
    <p>
      Login to your account to get started with visa applications.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
